# Spring Profile
SPRING_PROFILES_ACTIVE=docker

# Eureka / Discovery Service
EUREKA_URL=http://discovery-service:8761/eureka

# Config Server
CONFIG_SERVER_URL=http://config-service:8888

# PostgreSQL credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Catalogue DB
CATALOGUE_DB_NAME=cataloguedb
CATALOGUE_DB_PORT=5432

# Commande DB
COMMANDE_DB_NAME=commandedb
COMMANDE_DB_PORT=5433

# Paiement DB
PAIEMENT_DB_NAME=paiementdb
PAIEMENT_DB_PORT=5434
